
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10%;
    /* border: 3px solid #fff; */
    /* margin: 0 20%; */
    position: relative;
    background-color: #FEF6E1;
}



.logo{
    color: #fff;
    width: 140px;
}

.small_logo {
  width: 40px;
}

nav ul .li{
    display: inline-block;
    list-style: none;
}

nav ul .li a{
    list-style: none;
    text-decoration: none;
    color: #334155;
    font-size: 18px;
    margin: 20px 30px;
}

 .btn-form{
  padding: 20px;
  background: #334155;
  color: #fff !important;
  border-radius: 5px;
  }



.fa-bars{
    color: #334155;
    font-size: 30px;
    font-weight: 600;
    display: none;
}


/*  */

/* Initial state: hide the menu icon on larger screens */
.fa-bars {
    display: none;
  }
  
  /* Show the menu icon on smaller screens */
  @media screen and (max-width: 1259px) {
    .fa-bars {
      display: block;
      cursor: pointer;
    }
  
    /* Hide the menu items on smaller screens */
    nav ul {
      display: none;
    }
  
    /* nav ul.active {
      margin-top: 5%;
      display: block;
      background-color: red;
      width: 300px;
    } */
  }
  

.mobile{
    display: none;
}

@media screen and (max-width: 1259px) {
    .pc{
        display: none;
    }
    .mobile{
        display: flex;
        align-items: center;
    }
    nav ul.active {
        margin-top: 5%;
        display: block;
        /* background-color: red; */
        width: 300px;
      }


  .mobile ul.active {
    display: block;
    top: 60%;
    right: 0%;
    left: 0;
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(30px);
    width: 100%;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    transition: .5s ease-in-out;
  }

  .mobile ul.active:hover {
    /* transform: rotate3d(6, 1, 2, 10deg); */
  }

  .mobile ul.active .li{
    display: block;
    margin: 30px 0;
    align-items: center;
    text-align: center;
  }
}
