*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.list {
  display: flex;
  gap: 30px;
  margin: 20px 0;
}

.list i {
  font-size: 25px;
  color: #0f172a;
}

.list p {
  color: #334155;
}

.list p span {
  color: #0f172a;
}

/* #334155 btn */

/* #0f172a h1  */


/* #334155  */